.tweetPanel {
    --max-lines: 3;
    --pic-size: 2.5rem;

    @include fill-space;

    color: white;
    display: flex;
    flex-direction: column;
    font-family:
        -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Helvetica Neue', Arial, sans-serif;
    justify-content: space-between;
    letter-spacing: 0.1px;
    padding: 1.5rem;

    .profile {
        align-items: center;
        display: flex;
        gap: 0.75rem;

        .pic {
            border-radius: 50%;
            height: var(--pic-size);
            overflow: hidden;
            position: relative;
            width: var(--pic-size);

            .loadingPic {
                background-color: $loading-color;
                height: var(--pic-size);
                width: var(--pic-size);
            }
        }

        .names {
            display: flex;
            flex-direction: column;
            gap: 0.25rem;

            .displayName {
                font-weight: bold;
            }

            .username {
                color: grey;
            }
        }
    }

    .tweetContainer {
        align-items: center;
        display: flex;
        height: 3.9rem;
        width: 100%;

        .tweet {
            -webkit-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: var(--max-lines); /* number of lines */
            line-clamp: var(--max-lines); /* number of lines */
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .loadingTweet {
            display: flex;
            flex-direction: column;
            gap: 0.3rem;
            width: 100%;
        }
    }

    .timestamp {
        color: grey;
    }
}
