@mixin flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin overlay {
    background: rgb(0 0 0 / 30%);
}

@mixin container {
    margin: 0 auto;
    max-width: $max-width;
    padding: 0 2rem;
}

@mixin color-transition {
    transition: color 0.2s ease-in-out;
}

@mixin fill-space {
    height: 100%;
    width: 100%;
}

@mixin title {
    color: $primary-color;
    font-family: $font;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

@mixin ellipsis-text {
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin circle {
    border-radius: 50%;
    overflow: hidden;
}
