// Color scheme
$bg-color: rgb(50 50 53);
$dark-bg-color: rgb(44 44 44);
$primary-color: #956ac0;
$secondary-color: #634588;
$loading-color: #636363;
$shadow:
    0 4px 6px -1px rgb(0 0 0 / 10%),
    0 2px 4px -1px rgb(0 0 0 / 6%);
$shadow-lg:
    0 10px 15px -3px rgb(0 0 0 / 10%),
    0 4px 6px -2px rgb(0 0 0 / 5%);

// Structure
$navbar-height: 4rem;
$max-width: 1200px;
$mobile: 480px; // Small phones
$tablet: 768px; // Tablets and large phones
$desktop: 1024px; // Desktops and laptops
$large-desktop: 1440px; // Large screens
$font: 'Raleway', sans-serif;
$nav-z: 100;
