@import "https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap";

// Add top padding to body to account for fixed navbar
body {
	background-color: $bg-color;
	color: $primary-color;
	padding-top: $navbar-height;
}

// Remove default styling
a {
	text-decoration: none;
}

// Remove default styling
ul {
	list-style: none;
	margin: 0;
}

button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}
