// Add top padding to body to account for fixed navbar
body {
    background-color: $bg-color;
    color: $primary-color;
    font-family: $font;
    margin: 0;
    padding-top: $navbar-height;
    width: 100%;

    .container {
        @include container;
        @include flex-center;

        min-height: calc(100vh - $navbar-height);
        width: 100%;
    }
}

// Remove default styling
a {
    text-decoration: none;
}

// Remove default styling
ul {
    list-style: none;
    margin: 0;
}

// Remove default styling
button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
